# Example only — do not commit real values.
# Copy this file to .env and customize.

# cp env.example .env

# ----------------------------
# PostgreSQL
# ----------------------------
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=ny_taxi

# ----------------------------
# pgAdmin
# ----------------------------
PGADMIN_EMAIL=pgadmin@pgadmin.com
PGADMIN_PASSWORD=root

